layout {
    gaps 10
    center-focused-column "on-overflow"
    always-center-single-column

    background-color "transparent"

    // 4 columns exactly fit the output width
    default-column-width {
        proportion 0.25
    }

    preset-column-widths {
        // 4 columns
        proportion 0.25

        // 3 columns
        proportion 0.33333

        // 2 columns
        proportion 0.5

        // large focused column
        proportion 0.66667
        proportion 0.75
    }

    preset-window-heights {
        proportion 0.5
    }

    focus-ring {
        on
        width 0.5
        active-color "#cdd6f426"
        inactive-color "#ffffff00"
    }

    border {
        on
        width 1
        active-color "#cdd6f41a"
        inactive-color "#ffffff03"
    }
}
